.carousel-home{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 40vh;
}

.block-0{
    position: absolute;
    left: 0;
    width: 100vw;
    height: 100%;
    transition: left 1s;
    z-index: 1;
    visibility: visible;
}

.block-0 img{
    width: 100%;
    height: 100%;
}

.block-1{
    position: absolute;
    height: 100%;
    right: -100%;
    transition: left 1s;
    z-index: 1;
    height: 100%;
    visibility: hidden;
}

.block-1 img{
    width: 100%;
    height: 100%;
}

#right{
    position: absolute;
    height: 15%;
    width: 3%;
    left: 0;
    z-index: 3;
    top: 50%;
    transform: translateY(-50%);
}

#left{
    position: absolute;
    height: 15%;
    width: 3%;
    right: 0;
    z-index: 3;
    top: 50%;
    transform: translateY(-50%);
}

#dot-0{
    position: absolute;
    bottom: 0;
    z-index: 3;
    left: 40%;
}
#dot-1{
    position: absolute;
    bottom: 0;
    z-index: 3;
    left: 45%;

}