@import url('https://fonts.googleapis.com/css2?family=Revalia&display=swap');

.menu-profile-nc {
    position: absolute;
    height: 10vh;
    right: 0;
    top: 7vh;
    width: 15vw;
    z-index: 10;
    font-family: 'Revalia', cursive;
    font-size: 80%;
    /* z-index: 11; */
}

.menu-profile {
    position: absolute;
    height: 30vh;
    right: 0;
    top: 7vh;
    width: 15vw;
    z-index: 10;
    font-family: 'Revalia', cursive;
    font-size: 80%;
    z-index: 11;
}

.nav-profile{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #17202A;
    width: 100%;
    height: 99%;
    margin-top: 1px;
    border-radius: 15px 0 0 15px;
    z-index: 1;


}

.menu-profile-nc a, .menu-profile a{
    color: white;
    cursor: pointer;
    transition: all 0.4s ease;
    z-index: 1;
    text-decoration: none;


}



.menu-profile-nc a:hover, .menu-profile a:hover{
    color: #c88d23;

}

#profile-nav-separator{
    /* position: absolute; */
    background-color: #2E86C1;
    width:70%;
    height: 1px;

}