@import url('https://fonts.googleapis.com/css2?family=Marko+One&family=Revalia&display=swap');

.reset-pw{
    margin-left: 30%;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.reset-pw-field{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    flex-wrap: wrap;
}


.reset-pw-form{
    margin: 0;
    padding: 0;
    width: 35%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(46, 134, 193, 45%);
    border-radius: 40px;
}

.new-pw-1, .new-pw-2{
    margin-left:20%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start ;
    font-family: "Marko One", sans-serif;
    font-size: 20px;
    color: #f3f3f3;
    flex-wrap: wrap;
}

.reset-pw-form{
    margin-bottom:10%;
    margin-left:15%;
    font-family: "Marko One", sans-serif;
    color: #f3f3f3;
}

#new-pw-1{
    height: 30px;
    width: 20vw;
    border-radius: 5px;
    border: none;
    margin-bottom: 5px;
}

#new-pw-1:focus{
    outline: none;
}

#new-pw-2{
    height: 30px;
    width: 20vw;
    border-radius: 5px;
    border: none;
    margin-bottom: 5px;
}

#new-pw-2:focus{
    outline: none;
}

.reset{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top:3vh;
}

.reset button{
    background-color:#e39D22;
    border: 1px solid #e39D22;
    border-radius: 15px;
    width: 50%;
    height: 4vh;
    color: #17202A;
}