 {
  padding: 0;
  margin: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Marko+One&display=swap");

.number-result {
  width: 20%;
  height: 30px;
  background-color: #c88d23;
  border-radius: 10px 10px 0px 0px;
  margin-top: 150px;
}

.number-result h3 {
  font-family: "Marko One", serif;
  color: white;
  text-align: center;
}

.container {
  width: 100%;
  height: auto;
  background-color: #17202a;
  padding: 5%;
}

.result {
  width: 90%;
  height: 20%;
  display: flex;
  flex-direction: row;
  /* background: white; */
}
.result img {
  width: 20%;
  height: auto;
}

.text {
  width: 70%;
  height: auto;
  background-color: #c88d23;
  padding-top: 15px;
}

.text h1 {
  color: white;
  margin-left: 35px;
  font-family: "Marko One", serif;
}

.text p {
  width: 70%;
  height: auto;
  font-family: roboto, arial, helvetica;
  font-size: 1.2vw;
  color: white;
  margin-left: 60px;
}

.price {
  width: 15%;
  height: auto;
  background-color: #2e86c1;
  border-radius: 0px 10px 10px 0px;
  text-align: center;
}
.price h1 {
  color: white;
  height: 100%;
  transform: translateY(25%);
}

.sep {
  width: 90%;
  height: 2px;
  background-color: #2e86c1;
  margin-top: 100px;
}
