.container-contact {
  width: 90%;
  height: auto;
  background-color: rgb(227, 157, 34, 0.5);
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
}

.container-contact h1 {
  color: #17202a;
  margin-left: 60px;
}

#contactForm {
  width: 70%;
  height: 700px;
  margin: 0 auto;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sujet {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.requete {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.name label,
.sujet label,
.requete label {
  font-weight: bold;
  color: #17202a;
}

.name input,
.sujet input {
  width: 100%;
  height: 40px;
  background-color: #F3FAFF;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  padding-left: 10px;
}

.requete textarea {
  width: 100%;
  height: 400px;
  background-color: #F3FAFF;
  margin-top: 10px;
  padding-top: 15px;
  border-radius: 10px;
  border: none;
  padding-left: 10px;
  resize: none;
}

#btn-requete {
  width: 200px;
  height: 45px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #e39d22;
  border: none;
  border-radius: 10px;
  color: #17202a;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
}

#btn-requete:hover {
  background-color: #F3FAFF;
  color: #e39d22;
  border: 1px solid #e39d22;
}

.link-faq {
  width: 100%;
  height: auto;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.link-faq a {
  font-size: 1.6vw;
  color: #2e86c1;
}

.link-faq a:hover {
  color: #e39d22;
}
