.historique-container {
  width: 90%;
  height: auto;
  margin: 0 auto;
  background: rgb(227, 157, 34, 0.5);
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 40px;
}

.historique-container h1{
  color: #17202a;
  margin-left: 60px;
}