.profile-settings-container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  background: rgb(227, 157, 34, 0.5);
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.profile-settings-container h1 {
  color: #17202a;
  margin-left: 60px;
}

.general-information {
  width: 80%;
  height: auto;
  background-color: #e39d22;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 100px;
  padding-top: 10px;
}

.general-information h2,
.general-coordonnes h2 {
  color: white;
  margin-left: 20px;
}

.Information {
  width: 100%;
  height: auto;
}

.line-white {
  width: 100%;
  height: 2px;
  background-color: white;
}

.block-info {
  width: 100%;
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.block-info #titleInformation {
  width: 15%;
  text-align: center;
  margin: 0;
  color: white;
}

#click {
  width: 80%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

#click p {
  width: 70%;
  font-size: 14px;
  color: white;
  margin: 0;
}

.icon {
  width: 10%;
  color: white;
}

.general-coordonnes {
  width: 80%;
  height: auto;
  background-color: #e39d22;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 10px;
  padding-top: 10px;
}

.coordonnees {
  width: 100%;
  height: auto;
}

.block-cord {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.block-cord #titleCord {
  width: 15%;
  text-align: center;
  margin: 0;
  color: white;
}

.parametre {
  width: 80%;
  height: auto;
  padding-top: 10px;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.general-pref {
  width: 48%;
  height: auto;
  background-color: #e39d22;
  border-radius: 10px;
  padding-top: 20px;
}

.block-pref {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.general-pref h2 {
  color: white;
  margin-left: 20px;
}

.block-pref #titlePref {
  width: 10%;
  text-align: center;
  margin: 0;
  margin-left: 20px;
  color: white;
}

.pref {
  width: 100%;
  height: auto;
  margin-top: 50px;
}

.mdp {
  width: 48%;
  height: 100%;
  background-color: #e39d22;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.mdp h2 {
  color: white;
  margin-left: 20px;
}

#form-mdp {
  width: 90%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.ancien-mdp,
.new-mdp,
.verification-mdp {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.btn-valide {
  width: 100%;
  text-align: right;
}
#valide {
  width: 105px;
  border-radius: 5px;
  height: 45px;
  color: white;
  background-color: #2e86c1;
  border: 1px solid #f3faff;
  cursor: pointer;
  margin-top: 20px;
}

#password-verification,
#password-new,
#password-ancien {
  width: 98%;
  height: 45px;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  margin-bottom: 20px;
  background-color: #2e86c1;
}

#password-verification:focus,
#password-new:focus,
#password-ancien:focus {
  color: white;
}

.verification-mdp label,
.new-mdp label,
.ancien-mdp label {
  color: white;
  margin-bottom: 20px;
}

#langue,
#save-mdp {
  width: 60%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

#langue p,
#save-mdp p {
  width: 70%;
  font-size: 14px;
  color: white;
  margin: 0;
}
