.profile-settings-container {
  position: relative;
  width: 70%;
  height: 1520px;
  margin: 0 auto;
  margin-top: 100px;
  background: rgb(227, 157, 34, 0.5);
  border-radius: 10px;
}

.profile-settings-container h1 {
  position: absolute;
  top: 4%;
  left: 8%;
  color: #17202a;
}

.general-information {
  position: relative;
  top: 15%;
  left: 10%;
  width: 80%;
  height: 280px;
  background-color: #e39d22;
  border-radius: 10px;
}

.general-information h2,
.general-coordonnes h2 {
  position: absolute;
  top: 5%;
  left: 5%;
  color: white;
}

.Information {
  position: absolute;
  top: 40%;
  width: 100%;
  height: 50px;
}

.line-white {
  width: 100%;
  height: 2px;
  background-color: white;
}

.block-info {
  width: 100%;
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.block-info #titleInformation {
  width: 15%;
  text-align: center;
  margin: 0;
  color: white;
}

#click {
  width: 80%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

#click p {
  width: 70%;
  font-size: 14px;
  color: white;
  margin: 0;
}

.icon {
  width: 10%;
  color: white;
}

.general-coordonnes {
  position: relative;
  top: 15%;
  left: 10%;
  width: 80%;
  height: 210px;
  background-color: #e39d22;
  margin-top: 100px;
  border-radius: 10px;
}

.coordonnees {
  position: absolute;
  top: 40%;
  width: 100%;
  height: 50px;
}

.block-cord {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.block-cord #titleCord {
  width: 15%;
  text-align: center;
  margin: 0;
  color: white;
}

.parametre {
  position: relative;
  top: 15%;
  left: 10%;
  width: 80%;
  height: 525px;
  margin-top: 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.general-pref {
  position: relative;
  width: 48%;
  height: 100%;
  background-color: #e39d22;
  border-radius: 10px;
}

.block-pref {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.general-pref h3 {
  position: absolute;
  top: 1%;
  left: 3%;
  color: white;
}

.block-pref #titlePref {
  width: 10%;
  text-align: center;
  margin: 0;
  color: white;
}

.pref {
  position: absolute;
  top: 40%;
  width: 100%;
  height: 50px;
}

.mdp {
  position: relative;
  width: 48%;
  height: 100%;
  background-color: #e39d22;
  border-radius: 10px;
}

.mdp h2 {
  position: absolute;
  top: 1%;
  left: 12%;
  color: white;
}

#form-mdp {
  position: absolute;
  left: 8%;
  top: 14%;
  width: 90%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.ancien,
.new,
.verification {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
}

#valide {
  position: absolute;
  right: 8.5%;
  bottom: -15%;
  width: 25%;
  height: 40px;
  border-radius: 5px;
  color: white;
  background-color: #2e86c1;
  border: 1px solid #f3faff;
  cursor: pointer;
}

#password-verification,
#password-new,
#password-ancien {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  border: 1px solid white;
  background-color: #2e86c1;
}

.verification,
.new,
.ancien {
  width: 90%;
  height: 100px;
}

.verification label,
.new label,
.ancien label {
  color: white;
}

#langue,
#save-mdp {
  width: 70%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

#langue p,
#save-mdp p {
  width: 70%;
  font-size: 14px;
  color: white;
  margin: 0;
}
